.main-company {
    max-width: 400px;
}

.main-company input {
    margin: 10px 0;
}

.main-company-header {
    text-align: center; 
}

.main-company-header img {
    vertical-align: middle;
    width: 100px;
}

hr {
    margin: 10px 0;
}

.main-profile-add-item-experience {
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    align-items: center;

}

.main-profile-company-text {
    width: 360px;
    border: 2px solid #EEEEEE;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
}