.main-company {
    background-color: #F9FAFC;
    width: 560px;
    height: auto ;
    border-radius: 15px;
    padding: 10px;
}

#name_company {
    white-space: nowrap;
    margin: 5px;
    display: block;
}
.main-company-add-header {
    margin-left: 90px;
}
main .main-company-button-change  {
    width: 50px;
}

main .main-company-button-change  button{
    width: 46px;
    height: 46px;
    border-radius: 8px;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-left: 65px;
    margin-right: 0px; 
}

.main-company-add-header-name {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.main-company-add-info h2 {
    margin: 15px;
    color: #9a9898;
}

.main-company-add-info p {
    margin-left: 5px;
    width: 335px;
    hyphens: auto;
    color: #8C8C8C;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
  
}

.main-company-add-info-content {
    font-size: 18px;
    margin-left: 15px;
}

.main-list-item-title-salary {
    font-size: 22px;
    color: #0075FF;
}

.main-button-change img {
    width: 25px;
}

