header .container {
    display: flex;
}

header {
    margin-bottom: 20px;
}
.header-ul {
    display: flex;
    list-style: none;
    align-items: center; 
    
}
.header-ul-item {
    margin-left: 100px;
    margin-top: 15px;
}

.header-ul-item a {
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    color: #8BA0C9;
    
}
.header-ul-item a:hover {
    color: rgb(129, 139, 161);
    cursor: pointer;
}

.header-messege img {
    width: 40px;
    height: 35px;
    cursor: pointer;
}

.header-messege{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border-radius: 8px;
}

.header-messege:hover {
    background-color: #eef0f3;
}

.header-messege-profile {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    margin-left: auto;
}

.header-profile {
    margin-left: 20px;
}

.header-profile {
    cursor: pointer;
}