@import "./header.css";
@import "./main_profile.css";
@import "./profile_add.css";
@import "./company_add.css";
@import "./company.css";
@import "./vacancies.css";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}

.container {
    font-family: 'DMSans-Italic', sans-serif;
    margin: 0 102px;
    max-width: auto;
}

